<div>

{{ rightFloat | safe}}

<div class="tags" style="float:left">
<h3>Jump to {{ group_type }}</h3>
{% for group in groupslist %}
	{% if postslist[group].length > 0 %}
		<a href="#{{ group | url }}" class="post-tag">{{ group }}</a>
	{% endif %}
{% endfor %}
</div>

</div>

<hr />

<ul class="post-list">
{% for group in groupslist %}
	{% if postslist[group].length > 0%}
		<h2 id="{{ group | url }}">{{ group }}</h2>
 	{% endif %}
  {% for post in postslist[group]%}
    <li class="post-list__item">
      <h1 class="post-list__title">
        <a  href="{{ post.url | url }}" target="_blank">{{ post.data.title | md | safe }}</a>
      </h1>
      <div class="post__details">
          <div class="post-list__tags">
            {% set courseUrl %}/courses/{{ post.data.course }}/{% endset %}
            <a href="{{ courseUrl | url }}" target="_blank">{{ post.data.course }}</a>
            <span>|</span>
            {% set yearUrl %}/part-{{ post.data.course_year | lower }}//{{ post.data.year }}/{% endset %}
            <a href="{{ yearUrl | url }}" target="_blank">Part {{ post.data.course_year }}, {{ post.data.year }}</a>
          </div>
      </div>

      <main class="post__content">
    
        {{ post.templateContent | safe }}
      </main>

      <a class="post-list__read-more" href="{{ post.url | url }}" target="_blank">comment</a>
    </li>
  {% endfor %}
	
{% endfor %}
</ul>

<article class="post">
  <header class="post__header">
    <h1>{{ title | md | safe }}</h1>
  </header>

  <main class="post__content">
    {{ content | safe }}
  </main>

</article>