<script src="https://giscus-one.vercel.app/client.js"
    data-repo="tripos-education/maths-tripos-questions"
    data-repo-id="R_kgDOHNk5nA"
    data-category="Question comments"
    data-category-id="DIC_kwDOHNk5nM4CO-nf"
    data-mapping="pathname"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="en"
    data-discussions-summary={{ latestComments }}
    crossorigin="anonymous"
    async>
</script>