<script class="giscus-script" src="https://giscus-one.vercel.app/client.js"
    data-repo="tripos-education/maths-tripos-questions"
    data-repo-id="R_kgDOHNk5nA"
    data-category="Question comments"
    data-category-id="DIC_kwDOHNk5nM4CO-nf"
    data-mapping="pathname"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="en"
    data-discussions-summary={{ latestComments }}
    crossorigin="anonymous"
    async>
</script>

<script>
// script to set the giscus theme before the widget loads, to avoid FLIC

var initial_theme = "light";
if (localStorage.getItem("theme") != "dark" &&  localStorage.getItem("theme") != "light") {
	var giscus_darkModeQuery = window.matchMedia("(prefers-color-scheme: dark)");
	if (giscus_darkModeQuery.matches) {
 		initial_theme = "dark";
	}
} else {
	if (localStorage.getItem("theme") == "dark") {
		initial_theme = "dark";
	}
}
document.querySelector("script.giscus-script").setAttribute("data-theme",initial_theme);
</script>