{% set paperList = [1,2,3,4] %}

{% for year in collections.sortingData.years %}
  {% set yearUrl %}/{{ courseYear }}/{{ year }}/{% endset %}

<div class="post-tag">
  <a href="{{ yearUrl | url }}">{{ year }}</a>
( 
{% for paperNo in paperList %}
<a href="{{ (yearUrl + paperNo)  | url }}">P{{ paperNo }}</a>
{% endfor %}
)
</div>

{% endfor %}