@import 'global.css';
@import 'variable.css';
@import 'prism-theme.css';
@import 'typography.css';
@import 'post-list.css';
@import 'hero.css';
@import 'header.css';
@import 'footer.css';
@import 'post.css';
@import 'about.css';

.layout-wrapper {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  min-height: 100%;
}

.main {
  display: flex;
  padding-bottom: 4rem;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 0;
  max-width: 48.75rem;
  margin-left: auto;
  margin-right: auto;
}


/* slider styling */
/*.switch {
    height: 100px;
    position: fixed;
    right: 50px;
    top: 50px;
}*/
    
/*.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
  background: url("../images/sun.png");
  background-size: contain;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}*/

.switcher {
	height:1.5em;
	width: 1.5em;
	
}
.switcher img {
	height:100%;
	margin-top: 0;
}

