---
pagination:
  data: collections
  size: 1
  alias: course
  filter:
    - all
    - nav
    - post
    - posts
    - questions
    - tagList
  addAllPagesToCollections: true
layout: base.njk
permalink: /courses/{{ course }}/
eleventyComputed:
  title: "{{ course | title }}"
  description: "All posts tagged “{{ course }}”"
---
<h1>{{ course | title }}</h1>

{% set postslist = collections[course] %}
{% include "posts-list.njk" %}