--- 
layout: base.njk 
pagination:
    data: collections.iaYearList
    size: 1
    alias: year
permalink: "ia/{{ year | slug }}/"
---

<h1>Part IA {{ year }}</h1>

{% set postslist = collections["ia-" + year] %}
{% include "posts-list.njk" %}



