--- 
layout: base.njk
title: "Part IA, {{ year }}" 
pagination:
    data: collections.yearList
    size: 1
    alias: year
permalink: "part-ia/{{ year | slug }}/"
description: "Part IA questions from {{ year }}"
---

<h1>Part IA {{ year }}</h1>

{% set postslist = collections["ia-" + year] %}
{% include "posts-list.njk" %}



