--- 
layout: base.njk
title: "Part IA" 
permalink: "part-ia/all/"
description: "Part IA questions"
---

<h1>Part IA</h1>

<h3>By Year</h3>
<div class="tags">
  {% set courseYear = 'part-ia' %}
  {% include "year-list.njk" %}
</div>

<h3>By Course</h3>
<div class="tags">
  {% include "ia-course-list.njk" %}
</div>



{% set latestComments = '0' %}
{% include "tripos-comments.njk" %}