--- 
layout: base.njk
title: "Part IA" 
permalink: "part-ia/"
description: "Part IA questions"
---

<h1>Part IA</h1>

<div class="tags">
  {% include "ia-course-list.njk" %}
</div>

<div class="tags">
  {% set courseYear = 'part-ia' %}
  {% include "year-list.njk" %}
</div>

{% set latestComments = '0' %}
{% include "tripos-comments.njk" %}