--- 
layout: base.njk 
title: "Part IB, {{ year }}" 
pagination:
    data: collections.yearList
    size: 1
    alias: year
permalink: "part-ib/{{ year | slug }}/"
description: "Part IB questions from {{ year }}"
---

<h1>Part IB {{ year }}</h1>

{% set postslist = collections["ib-" + year] %}
{% include "posts-list.njk" %}