--- 
layout: base.njk 
permalink: "ib/"
---

<h1>Part IB</h1>

<div class="tags">
  {% include "ib-course-list.njk" %}
</div>

<div class="tags">
  {% set courseYear = 'ib' %}
  {% include "year-list.njk" %}
</div>