--- 
layout: base.njk
title: "Part IB" 
permalink: "part-ib/"
description: "Part IB questions"
---

<h1>Part IB</h1>

<div class="tags">
  {% include "ib-course-list.njk" %}
</div>

<div class="tags">
  {% set courseYear = 'part-ib' %}
  {% include "year-list.njk" %}
</div>

{% set latestComments = '0' %}
{% include "tripos-comments.njk" %}