--- 
layout: base.njk
pagination:
    data: collections.yearList
    size: 1
    alias: year
permalink: "part-ii/{{ year | slug }}/"
eleventyComputed:
  title: "Part II, {{ year }}"
  description: "Part II questions from {{ year }}"
---

<h1>Part II {{ year }}</h1>

{% set postslist = collections["ii-" + year] %}
{% include "posts-list.njk" %}
