--- 
layout: base.njk 
permalink: "ii/"
---

<h1>Part II</h1>

<div class="tags">
  {% include "ii-course-list.njk" %}
</div>

<div class="tags">
  {% set courseYear = 'ii' %}
  {% include "year-list.njk" %}
</div>