--- 
pagination:
  data: collections.triposPartList
  size: 1
  alias: part
layout: base.njk
permalink: "part-{{part | lower}}/all/"
eleventyComptuted:
  title: "Part {{ part | upper }}"
  description: "Part {{ part | upper }} questions"
---

<h1>Part {{ part | upper }}</h1>

<h3>By Year</h3>
<div class="tags">
  {% set courseYear = 'part-'+part %}
  {% include "year-list.njk" %}
</div>

<h3>By Course</h3>
  {% set triposPart = part %}
  {% include "course-list.njk" %}



{% set latestComments = '0' %}
{% include "tripos-comments.njk" %}