---
layout: base.njk
---

<article class="post">
  <header class="post__header">
    <h1>{{ title | md | safe }}</h1>
    <div class="post__details">
      <div class="post-list__tags">
        {% set courseUrl %}/courses/{{ course }}/{% endset %}
        <a href="{{ courseUrl | url }}">{{ course }}</a>
      </div>
      Part {{ course_year }}, {{ year }}
    </div>
  </header>

  <main class="post__content">
    {{ content | safe }}
  </main>
  
  {% set editUrl %}https://github.com/tripos-education/maths-tripos-questions/blob/master/src/part-{{ course_year | lower }}/{{ year }}-{{ question_number }}.md{% endset %}
  <div><i>Typos? Please <a href="{{ editUrl | url }}">submit corrections to this page on GitHub.</a></i></div>

  {% set latestComments = '0' %}
  {% include "tripos-comments.njk" %}

</article>
