---
layout: base.njk
---

<article class="post">
  <header class="post__header">
    <h1>{{ title | md | safe }}</h1>
    <div class="post__details">
      <div>
        <div class="post-list__tags">
          {% set courseUrl %}/courses/{{ course }}/{% endset %}
          <a href="{{ courseUrl | url }}">#{{ course }}</a>
        </div>
      </div>
      {{ year }}
    </div>
  </header>

  <main class="post__content">
    {{ content | safe }}
  </main>

  <aside class="post__aside">    
  
    <nav class="post__pagination">
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- if nextPost %}

        <a href="{{ nextPost.url | url }}">
          <span>←</span>
          <span>{{ nextPost.data.title }}</span>
        </a>

      {% endif %}

      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {%- if previousPost %}

        <a href="{{ previousPost.url | url }}">
          <span>{{ previousPost.data.title }}</span>
          <span>→</span>
        </a>

      {% endif %}
    </nav>
  </aside>

</article>